@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  background-color: var(--color-bg-200);
  color: white;
  line-height: 1.5;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: var(--color-primary-500);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius);
  color: white;

  &:hover {
    background-color: var(--color-primary-600);
  }
}

a {
  color: var(--color-primary-500);
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

input {
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border-100);
  background-color: var(--color-bg-200);
  color: white;

  &::placeholder {
    opacity: 0.5;
    color: var(--color-text-tertiary);
  }

  &:focus {
    border-color: var(--color-primary-700);
  }

  &:focus-visible {
    border: none;
  }
}
